<!-- <div class="alert alert-danger" role="alert"    [ngStyle]="{'display':!displayError?'none':'block'}">
  {{displayError}}
</div> -->

<div class="alert alert-danger alert-dismissible fade show" role="alert" [ngStyle]="{'display':!displayError?'none':'block'}">
  <strong>Error!!!!</strong> 
  {{displayError}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="form-row" >
    <div class="form-group col-md-12">
      <label for="inputEmail4">Book Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Please Enter Book Name" [(ngModel)]="book.name" >
    </div>
</div>
<div class="form-row">
  <div class="form-group col-md-12">
      <label for="inputPassword4">Book genre</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Please Enter Genre" [(ngModel)]="book.genre">
    </div> 
</div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Price</label>
      <input type="number" class="form-control" id="inputAddress" placeholder="amount like 100.." [(ngModel)]="book.price">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Quantity</label>
      <select id="inputState" class="form-control" [(ngModel)]="book.quantity">
        <option>10</option>
        <option selected>100</option>
        <option>200</option>
        <option>300</option>
        <option>100</option>
      </select>
    </div>
  </div>
  <div class="form-group col-md-6">
  <button type="submit" class="btn btn-primary" (click)="addEditBook()">submit</button>
  </div>

